<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/main.css" />
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <nav>
      <ul class="navbar">
        <h1>freg blogs</h1>
        <li><p>new post</p></li>
        <li><p>help</p></li>
      </ul>
    </nav>
  </body>
</html>
